<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemplateEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TemplateEdit.Properties.Settings>
            <setting name="WBImagesLogFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="barcodePrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="BarcodePrintSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="dbFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DocumensFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSources" serializeAs="String">
                <value />
            </setting>
        </TemplateEdit.Properties.Settings>
    </userSettings>
</configuration>